# Banco de dados
DATABASE_URL=postgresql+asyncpg://postgres.ayqnwajxcqdmnzmwygtf:Liberdade.10@aws-1-sa-east-1.pooler.supabase.com:5432/postgres

# Redis
REDIS_URL=redis://localhost:6379

# Segurança
SECRET_KEY=troque-por-uma-chave-segura-longa-aqui

# App
APP_NAME=Acolhe.app
DEBUG=True
